.bg-all {
  background-image: url("https://res.cloudinary.com/dtxhgfzpd/image/upload/v1680533039/janek/background-pattern_aaawvu.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.services-banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  margin-bottom: 50px;
}

.services-banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 36px;
  font-weight: bold;
  text-decoration: underline white;
}

.responsibilities {
  width: 70%;
}

.table {
  padding: 10px;
  width: 90%;
  flex: auto;
}

.table-box {
  padding: 20px;
  border-radius: 10px;
  width: auto;
  margin: 25px 0;
  box-shadow: 3px 3px 3px 3px rgb(149, 149, 149);
}


.list-indent {
    margin-left: 0;
    padding-left: 50px;
 }

 .link-info {
  flex-direction: row;
}

.interest {
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.checklist {
  margin: 10px;
}

.checklist-box {
    padding: 20px;
    border-radius: 10px;
    width: auto;
    box-shadow: 3px 3px 3px 3px rgb(149, 149, 149);
}
