<div class="footer">
  <div class="footer-info d-flex justify-content-evenly">
    <div>
      <h6>Phone</h6>
      <p>816-756-3296</p>
    </div>
    <div>
      <h6>Address</h6>
      <p>4050 Pennsylvania Ave., Suite 111 <br>
      Kansas City, Missouri 64111</p>
    </div>
    <div>
      <h6>Office Hours</h6>
      <p>Monday - Friday <br>
      9:00am - 5:00pm</p>
    </div>
  </div>
</div>
