<body class="bg-all">

<div class="services-banner", style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dtxhgfzpd/image/upload/v1680011380/janek/banner_ut5vhe.jpg);">
 <div class="container">
    <div>
        <h1>Job Overview</h1>
    </div>
  </div>
</div>


<div class="container responsibilities">
  <div class="row">
    <h3>General Responsibilities</h3>

    <p>Our positions include general stagehands, semi-skilled and skilled technicians,
    theatrical staging and lighting, audio/visual, and other related work. Employees are expected to use professional expertise,
    discretion, and judgment in completing a wide range of assignments.
    Under general supervision, employees may be required to work independently within established parameters.
    Employees must ensure that all safety regulations and work rules are followed at all times. </p>
<br>
    <h3>Road Crew</h3>

    <p>We offer opportunities to travel out of state to provide staging support for various events.
    Travel time and work type are based upon client needs. Transportation, hotels, and per diem may be provided.
   </p>
  </div>

  <div class="row table-box border border-secondary">
  <h3>Job Descriptions</h3>
    <table class="table">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">Position</th>
          <th scope="col">Description</th>
        </tr>
      </thead>
      <tbody>
        <tr> <th scope="row"></th>
          <td><strong>Stagehand</strong></td>
          <td>Provide manual labor for the set up and tear down
            of an event as instructed by the crew chief.</td>
        </tr>
        <tr> <th scope="row"></th>
          <td><strong>Truck Loader</strong></td>
          <td>Unload and load crates and equipment from trucks.</td>
        </tr>
        <tr> <th scope="row"></th>
          <td><strong>Electrician</strong></td>
          <td>Perform the electrical connections as required.</td>
        </tr>
          <tr> <th scope="row"></th>
          <td><strong>Carpenter</strong></td>
          <td>Build or set up staging, scenery, and backdrops.
          Must have experience with carpentry tools and techniques.</td>
        </tr>
          <tr> <th scope="row"></th>
          <td><strong>Ground Rigger</strong></td>
          <td>Provide necessary support for the up riggers. Must know basic knots,
          other rigging requirements, and how to correctly pack rigging crates.</td>
        </tr>
          <tr> <th scope="row"></th>
          <td><strong>Up Rigger</strong></td>
          <td>Set rigging points and manipulate rigging lines, hoists,
          and pulling gear to lift the theatrical sound, lighting, and sets.
          Must be trained in rigging practices and procedures. </td>
        </tr>
          <tr> <th scope="row"></th>
          <td><strong>Forklift Driver</strong></td>
          <td>Operate forklifts to load and unload materials and equipment.
          All forklift drivers must be certified.</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="row table-box border border-secondary">
    <h3>Qualifications</h3>

    <ul class="list-indent">
      <li>Working knowledge of the tools, materials, methods, and practices used in the general installation, testing,
      operation, and removal of theatrical staging, sound, and lighting.</li>
      <li>Working knowledge of theatrical production terms, techniques, equipment parts and components.</li>
      <li>Working knowledge of occupational hazards and necessary safety procedures and equipment.</li>
      <li>Ability to communicate effectively, manage time efficiently, work under tight deadlines, and work as part of a team.</li>
      <li>Ability to lift 25 pounds repeatedly, 50-70 pounds frequently, and heavier on a limited basis.</li>
      <li>Ability to bend, twist, stoop, climb ladders, work from heights and perform other manual labor tasks.</li>
    </ul>
  </div>

<div class="container mt-5">

  <div class="container fluid mt-3 checklist-box">
  <div class="row justify-content-center">

    <h3>Tools and Safety Equipment for the Job</h3>

    <div class="col-4 checklist">
      <h5>Required</h5>
      <div>
        <i class="fa-solid fa-check"></i>
        <span class="checklist-item">Work Gloves</span>
      </div>
      <div>
        <i class="fa-solid fa-check"></i>
        <span class="checklist-item">Steel Toed Boots</span>
      </div>
      <div>
        <i class="fa-solid fa-check"></i>
        <span class="checklist-item">8" Crescent Wrench</span>
      </div>
    </div>
    <div class="col-4 checklist">
      <h5>Highly Recommended</h5>
        <div>
        <i class="fa-solid fa-check"></i>
        <span class="checklist-item">Pocket Knife</span>
      </div>
      <div>
        <i class="fa-solid fa-check"></i>
        <span class="checklist-item">Flashlight</span>
      </div>
      <div>
        <i class="fa-solid fa-check"></i>
        <span class="checklist-item">Hammer</span>
      </div>
      <div>
        <i class="fa-solid fa-check"></i>
        <span class="checklist-item">Electrical Tape</span>
      </div>
    </div>
  </div>
  </div>
  </div>

  <div class="interest">
    <div class="link-info">
    <a class="btn btn-secondary btn-style " href="/apply">Apply Now!</a>
    </div>
  </div>

</div>
</body>
